{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/post.scss" "dest" "css/post.css") }}
{{ end }}

{{ define "main" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}
<div class="post-list__container">
  <ul class="post-list">
    {{ range .Params.projects }}
    <li class="post">
      <div class="post__header">
        <time class="post__date" datetime="{{ . }}"
          >{{ .Date.Format $dateFormat }}</time>
        <h2 class="post__title">
          <a href="{{.}}">{{ .Title }}</a>
        </h2>
      </div>
    </li>
    {{ end }}
  </ul>
</div>

<div class="post-list__container">
<ul class="post-list">
    {{range .Params.projects }}
    <li class="post">
        <div class="post__header">
            <time class="post__date" datetime="{{ .Date }}">Zeit</time>
            <h2 class="post__title">
                <a href="{{ .link }}" target="_blank" rel="noreferrer">{{ .name }}</a>
            </h2>
            <span class="gh-stars" data-repo="{{ .repo }}" hidden></span>
            <p><i>{{ .intro }}</i></p>
            <p>{{ .description }}</p>

            <ul class="tags__list">
                {{ range .technologies }}
                <li class="tag__item">
                    <a class="tag__link">{{ . }}</a>
                </li>
                {{- end -}}
            </ul>

        </div>
    </li>
    {{- end -}}
</div>



{{ end }}

{{ define "scripts" }}

<script>
  function show_github_stars(cls) {
    var stardivs = document.getElementsByClassName(cls);
    for (let x of stardivs) {
      fetch("https://api.github.com/repos/" + x.dataset.repo)
        .then(function (response) {
          if (!response.ok) throw Error(response.statusText);
          return response.json(); // transform to json
        })
        .then(function (data) {
          x.innerHTML = "(" + data.stargazers_count + " ☆)";
          x.style.display = "inline";
        })
        .catch(function (ex) {
          console.log("github star loading failed", ex);
        });
    }
  }
  show_github_stars("gh-stars");
</script>

{{ end }}
