{{ define "main" }}
<center><img src="tf.svg" width="128" alt="tf"></center>
  <pre>
<div class="headline"><b>Thomas Feldmann</b> <<a href="mailto:mail@tfeldmann.de">mail@tfeldmann.de</a>></div>
Entwicklungsingenieur (M.Eng. Mechatronik) aus Bocholt.


Open-Source:
  <a href="https://github.com/tfeldmann/organize" target="_blank" rel="noreferrer">organize</a> <span class="gh-stars" data-repo="tfeldmann/organize" hidden></span>
  <i>The file management automation tool</i>
  Bringt Ordnung in das Datei-Chaos. Überwacht Ordner und führt selbst
  definierte Regeln aus.
  (Python)

  <a href="https://github.com/tfeldmann/sudoku" target="_blank" rel="noreferrer">Sudoku-CV</a> <span class="gh-stars" data-repo="tfeldmann/sudoku" hidden></span>
  <i>Use your webcam to detect and solve any 9x9 sudoku</i>
  Erkennt Sudokus über die Webcam und zeigt deren Lösung an.
  (Python, OpenCV, Tesseract)

  <a href="https://github.com/tfeldmann/python-raumfeld" target="_blank" rel="noreferrer">python-raumfeld</a> <span class="gh-stars" data-repo="tfeldmann/python-raumfeld" hidden></span>
  <i>A pythonic library for discovering and controlling Teufel Raumfeld
  devices.</i>
  Eine Python-Library zur Steuerung vernetzter Teufel Raumfeld
  Lautsprecher.
  (Python, DLNA/UPnP, SOAP)

  <a href="https://github.com/tfeldmann/Biorobotic-Arm" target="_blank" rel="noreferrer">Biorobotic-Arm</a> <span class="gh-stars" data-repo="tfeldmann/Biorobotic-Arm" hidden></span>
  <i>An Arduino controlled robotic arm with facetracking capabilities</i>
  Studienprojekt: Ein gesteuerter Roboterarm aus günstigen Komponenten.
  Kann per Smartphone oder aus einer Qt-Software heraus gesteuert werden
  und automatisch Gesichtern folgen.
  (Arduino, Python, Qt, OpenCV)
</pre>
  <script>
    function show_github_stars(cls) {
      var stardivs = document.getElementsByClassName(cls);
      for (var i = 0; i < stardivs.length; i++) {
        let x = stardivs.item(i);
        fetch('https://api.github.com/repos/' + x.dataset.repo)
          .then(function (response) {
            if (!response.ok)
              throw Error(response.statusText);
            return response.json() // transform to json
          })
          .then(function (data) {
            x.innerHTML = '(' + data.stargazers_count + ' ☆)';
            x.style.display = 'inline';
          })
          .catch(function (ex) {
            console.log('github star loading failed', ex);
          })
      }
    }

    show_github_stars("gh-stars");
  </script>
  {{ end }}
