$main-color: #CE2029

a
   color: $main-color

   &:hover
      text-decoration: underline

pre
   padding-top: 20px
   font: 11px
   max-width: 585px
   position: relative
   margin: 0 auto
   white-space: pre-wrap

.headline
   border-bottom: 1px solid black

.splash
   h1
      font-size: 3em
      line-height: 1
      letter-spacing: -0.03em
      margin: 0

   h2
      font-size: 122.25em
      font-weight: 500
      line-height: 1.25
      max-width: 22em
      letter-spacing: -0.03em
